body {
    background-color: lightgoldenrodyellow;
    color: #16262E;
}

h1, h2, h3, ul, ol  {
    font-family: Helvetica, "Times New Roman", sans-serif;
}

h2 {
    text-decoration: underline;
}

.recipe-link {
    font-size: 20px;
}

img {
    border-radius: 5%;
}